@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');





$font: "Rubik", sans-serif;




$primary: rgb(0, 64, 255);

$skin2: rgb(0, 158, 116);

$skin3: rgb(206, 38, 38);
